.container-snackbar-invalid {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 6px;

}

.content-feedback {
    
    border-radius: 10px;
    width: 50px;
    background-color: white;
    color: black;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    /* white-space: nowrap; */
  
}


button {
    border: none;
    outline: none;
    border-radius: 10px;
    width: 50%;
    height: 30px;
    padding: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #50f374 ;
}


.icon {
    width: 30px;
    padding-left: 20px;
}