<div [ngStyle]="{width: '300px', display: 'flex', alignItems: 'center', justifyContent: 'center'}">
  <button id="show-converter-action" *ngIf="!displayConverter" (click)="showConverter()">
    <span class="material-symbols-outlined"> currency_exchange </span>
  </button>

  <div id="converter-coin" *ngIf="displayConverter">
    <div class="coin-action-control">
      <input  [(ngModel)]="valueCoin" type="number" placeholder="Valor de conversão" />
      <select name="coin1" id="coin-action" [(ngModel)]="selectedCoinBase">
        <option *ngFor="let coinOption of coinsConversionOption">{{coinOption}}</option>
      </select>
      <select name="coin2" id="coin-action" [(ngModel)]="selectedCoinConversion">
        <option *ngFor="let coinOption of coinsConversionOption">{{coinOption}}</option>
      </select>
    </div>

    <div [ngStyle]="{display: 'flex', justifyContent: 'space-between'}">
        <p>{{result}}</p>
        <button id="convert-action" type="button" (click)="convert(valueCoin, selectedCoinBase, selectedCoinConversion)">Converter</button>
    </div>
  </div>
</div>
