#card {

    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    animation: slide-down 300ms ease-out forwards;
    width: 25vw;
}

.coin {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }