.main {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background: linear-gradient(45deg, #090911,  #A0F1EA);
    background-attachment: fixed;
    display:flex;
    align-items: center;
    justify-content: space-around;
    animation: colors 15s ease infinite;
    
    @keyframes colors {

        8% {
          background-position: 0% 50%;
        }
      
        50% {
          background-position: 100% 50%;
        }
      
        100% {
          background-position: 0% 50%;
        }
      }
}
.main-small {
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background: linear-gradient(45deg, #090911,  #A0F1EA);
  display:flex;
  align-items: center;
  justify-content: space-around;
  animation: colors 15s ease infinite;
  
  @keyframes colors {

      8% {
        background-position: 0% 50%;
      }
    
      50% {
        background-position: 100% 50%;
      }
    
      100% {
        background-position: 0% 50%;
      }
    }
}

.info-coins-container {
  display: flex;
  width: 90%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}

.info-coins-container-large-medium {
  display: flex;
  width: 50%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}

.converter-container {
  height: 30vh;
  width: 30%;
  align-items: center;

}

.converter-container-small-xSmal {
  height: 30vh;
  width: 80%;
  align-items: center;

}